In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import skew
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# from google.colab import files
# uploaded = files.upload()

plt.style.use('seaborn')
sns.set(font_scale=2.5)

import missingno as msno

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
class suicides(object):
    def __init__(self):
        self.df = suicides.df
        self.df_test = suicides.df_test
        self.df_all_feature_var_names = []
        self.df_test_all_feature_var_names = []
        
    _non_numerical_feature_names = []
    _numerical_feature_names = []
    _is_one_hot_encoder = 0
    _feature_names_num = []
    _is_not_import_data = 0
    
    
    df = pd.read_csv('./train1.csv')
    df_test = pd.read_csv('./test_mini1.csv')
    
    
    # 수치형 열을 추출
    def extract_numerical_features(df):
        df = df.copy()
        numerical_features = pd.Series(data=False, index=df.columns, dtype=bool)
        
        for feature in df.columns:
            if any(tuple(df[feature].map(lambda x: type(x)) == int)) or \
                any(tuple(df[feature].map(lambda x: type(x)) == float)) & \
                    (not any(tuple(df[feature].map(lambda x: type(x)) == str))):
                numerical_features[feature] = 1
    
        return numerical_features[numerical_features == 1].index
    
    # 수치형을 제외한 열을 추출
    def extract_non_numerical_features(df):
        df = df.copy()
    
        return df.select_dtypes(exclude=[np.number])
    
    # 범주형을 수치형으로 바꿔서 새로운 열 생성
    def encode_labels_in_numeric_format(df, estimated_var):
        feature_names_num = ''.join([estimated_var, '_count'])
        mask = ~df[estimated_var].isnull()
        df[feature_names_num] = df[estimated_var]
        df.loc[mask, tuple([feature_names_num])] = df[estimated_var].factorize()[0][mask[mask==1].index]
    
    # 범주형 자료 내에 있는 범주의 종류를 반환
    def label_classes(df, estimated_var):
        le = LabelEncoder()
        le.fit(df[estimated_var].values)
        
        return le.classes_
    
    # 범주형 자료 one hot encoding
    def one_hot_encoder(df, estimated_var):
        
        df_class = df.copy()
        ohe = OneHotEncoder()
        label_classes = df_class[estimated_var].factorize()[1]
        new_one_hot_encoded_features = [''.join([estimated_var, '_', x]) for x in label_classes]
        mask = ~df[estimated_var].isnull()
        feature_var_values = ohe.fit_transform(np.reshape(np.array(df[''.join([estimated_var, '_count'])][mask].values), 
                                                      (df[mask].shape[0], 1))).toarray().astype(int)

        for ite in new_one_hot_encoded_features:
            df[ite] = df[estimated_var]
        df.loc[mask, tuple(new_one_hot_encoded_features)] = feature_var_values
    
    def features_with_null_logical(df, axis=1):
        
        row_length = len(df._get_axis(0))
        aggregate_axis = 1 - axis
        features_non_null_series = df.count(axis=aggregate_axis)
        mask = row_length == features_non_null_series
        
        return mask
    
    def missing_values_in_dataframe(df):
        row_length = len(df._get_axis(0))
        aggregate_axis = 1 - axis
        features_non_null_series = df.count(axis=aggregate_axis)
        mask = row_length == features_non_null_series
        print(df[mask[mask == 0].index.values].isnull().sum())
        print('\n')

In [3]:
train = suicides.df
test = suicides.df_test

In [4]:

## Region 적용 했을 때 성능이 더 높아짐 !! 429 --> 373  같은 country 별로 돌리는건데 왜 높아지는지는 모름



Europe = ["Albania","Russian Federation","France","Ukraine","Germany","Poland","United Kingdom",
         "Italy","Spain","Hungary","Romania","Belgium","Belarus","Netherlands","Austria",
         "Czech Republic","Sweden","Bulgaria","Finland","Lithuania","Switzerland","Serbia",
         "Portugal","Croatia","Norway","Denmark","Slovakia","Latvia","Greece","Slovenia",
         "Turkey","Estonia","Georgia","Albania","Luxembourg","Armenia","Iceland","Montenegro",
         "Cyprus","Bosnia and Herzegovina","San Marino","Malta","Ireland"]
NorthAmerica = ["United States","Mexico","Canada","Cuba","El Salvador","Puerto Rico",
                "Guatemala","Costa Rica","Nicaragua","Belize","Jamaica"]
SouthAmerica = ["Brazil","Colombia", "Chile","Ecuador","Uruguay","Paraguay","Argentina",
                "Panama","Guyana","Suriname"]
MiddleEast = ["Kazakhstan","Uzbekistan","Kyrgyzstan","Israel","Turkmenistan","Azerbaijan",
              "Kuwait","United Arab Emirates","Qatar","Bahrain","Oman"]
Asia = ["Japan","Republic of Korea", "Thailand", "Sri Lanka","Philippines","New Zealand",
        "Australia","Singapore","Macau","Mongolia"]

def match_region(x):
    if x in Europe:
        x = 'Europe'
    elif x in NorthAmerica:
        x = 'North America'
    elif x in SouthAmerica:
        x = 'South America'
    elif x in MiddleEast:
        x = 'MiddleEast'
    elif x in Asia:
        x = 'Asia'
    else:
        x = 'Island Nation'
    return x
  
  
train['region'] = train.country.map(lambda x: match_region(x))
  
test['region'] = test.country.map(lambda x: match_region(x))

In [5]:
categorical_feature = ['sex','age','region']

In [6]:
suicides.encode_labels_in_numeric_format(train, categorical_feature[0])
suicides.encode_labels_in_numeric_format(train, categorical_feature[1])
suicides.encode_labels_in_numeric_format(train, categorical_feature[2])
#suicides.encode_labels_in_numeric_format(train, categorical_feature[3])

suicides.encode_labels_in_numeric_format(test, categorical_feature[0])
suicides.encode_labels_in_numeric_format(test, categorical_feature[1])
suicides.encode_labels_in_numeric_format(test, categorical_feature[2])
#suicides.encode_labels_in_numeric_format(test, categorical_feature[3])

train.head()

,country,year,sex,age,suicides_no,population,suicides_100k_pop,country_year,HDI_for_year,gdp_for_year,...,generation,Social support,Healthy life expectancy at birth,Positive affect,Negative affect,Democratic Quality,region,sex_count,age_count,region_count
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,0.635,2.156625e+09,...,Generation X,NaN,NaN,NaN,NaN,NaN,Europe,0,0,0
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,0.635,2.156625e+09,...,Silent,NaN,NaN,NaN,NaN,NaN,Europe,0,1,0
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,0.635,2.156625e+09,...,Generation X,NaN,NaN,NaN,NaN,NaN,Europe,1,0,0
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,0.635,2.156625e+09,...,G.I. Generation,NaN,NaN,NaN,NaN,NaN,Europe,0,2,0
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,0.635,2.156625e+09,...,Boomers,NaN,NaN,NaN,NaN,NaN,Europe,0,3,0

In [7]:
suicides.one_hot_encoder(train, categorical_feature[0])
suicides.one_hot_encoder(train, categorical_feature[1])
suicides.one_hot_encoder(train, categorical_feature[2])
#suicides.one_hot_encoder(train, categorical_feature[3])



suicides.one_hot_encoder(test, categorical_feature[0])
suicides.one_hot_encoder(test, categorical_feature[1])
suicides.one_hot_encoder(test, categorical_feature[2])
#suicides.one_hot_encoder(test, categorical_feature[3])
train.head()

,country,year,sex,age,suicides_no,population,suicides_100k_pop,country_year,HDI_for_year,gdp_for_year,...,age_75+ years,age_25-34 years,age_55-74 years,age_5-14 years,region_Europe,region_Island Nation,region_South America,region_Asia,region_MiddleEast,region_North America
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,0.635,2.156625e+09,...,0,0,0,0,1,0,0,0,0,0
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,0.635,2.156625e+09,...,0,0,0,0,1,0,0,0,0,0
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,0.635,2.156625e+09,...,0,0,0,0,1,0,0,0,0,0
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,0.635,2.156625e+09,...,1,0,0,0,1,0,0,0,0,0
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,0.635,2.156625e+09,...,0,1,0,0,1,0,0,0,0,0

In [8]:
train = train.drop(categorical_feature[0], axis=1)
train = train.drop(categorical_feature[1], axis=1)
train = train.drop(categorical_feature[2], axis=1)
#train = train.drop(categorical_feature[3], axis=1)
train = train.drop('country_year', axis=1)


test = test.drop(categorical_feature[0], axis=1)
test = test.drop(categorical_feature[1], axis=1)
test = test.drop(categorical_feature[2], axis=1)
#test = test.drop(categorical_feature[3], axis=1)
test = test.drop('country_year', axis=1)


train.head()

,country,year,suicides_no,population,suicides_100k_pop,HDI_for_year,gdp_for_year,gdp_per_capital,generation,Social support,...,age_75+ years,age_25-34 years,age_55-74 years,age_5-14 years,region_Europe,region_Island Nation,region_South America,region_Asia,region_MiddleEast,region_North America
0,Albania,1987,21,312900,6.71,0.635,2.156625e+09,796,Generation X,NaN,...,0,0,0,0,1,0,0,0,0,0
1,Albania,1987,16,308000,5.19,0.635,2.156625e+09,796,Silent,NaN,...,0,0,0,0,1,0,0,0,0,0
2,Albania,1987,14,289700,4.83,0.635,2.156625e+09,796,Generation X,NaN,...,0,0,0,0,1,0,0,0,0,0
3,Albania,1987,1,21800,4.59,0.635,2.156625e+09,796,G.I. Generation,NaN,...,1,0,0,0,1,0,0,0,0,0
4,Albania,1987,9,274300,3.28,0.635,2.156625e+09,796,Boomers,NaN,...,0,1,0,0,1,0,0,0,0,0

In [9]:

# 같은 조건일 때 2007년 : 399 / 2008년 : 339  / 2009년 : 348 / 2010 년 이후 : 381 -->  2008년 고정


train = train[train['year']> 2008]

## PreProcessing ( Feature Engineering )

In [10]:

# 필요없는 컬럼 삭제 . Generation 은 자살률과 무관한것으로 판단. 성능이 나빠진다. 

# suicides_100k_pop 필요. 이건 Train 데이터에서 파생변수로 만들어서 사용한다고 가정.  

# 보아즈 공지사항에 suicides_100k_pop 삭제하라고 했으니 삭제 후 population과 suicides_no 이용해서 만들자

test = test.drop(['suicides_100k_pop'], axis=1)
train = train.drop(['suicides_100k_pop'], axis=1)


train['suicides_100k_pop'] = train['suicides_no'] / train['population'] * 100000
 

  # generation 다시 추가도 해보고 새로운 컬럼들 이것저것 삭제도 해봤는데 이 상태가 그나마 최상
features_drop_train = ['suicides_no','sex_count','generation','age_count','region_count']
features_drop_test = ['sex_count','age_count','generation','region_count']

test = test.drop(features_drop_test, axis=1)
train = train.drop(features_drop_train, axis=1)

In [11]:
con = []
for i in test.country.unique():
    con.append(train[train.country == i])

In [12]:
train = pd.concat(con, axis=0)
print(train.head())
print(test.head())

                 country  year  population  HDI_for_year  gdp_for_year  \
528  Antigua and Barbuda  2009        8199          0.77  1.224253e+09
529  Antigua and Barbuda  2009        6917          0.77  1.224253e+09
530  Antigua and Barbuda  2009       14629          0.77  1.224253e+09
531  Antigua and Barbuda  2009        8514          0.77  1.224253e+09
532  Antigua and Barbuda  2009        4793          0.77  1.224253e+09

     gdp_per_capital  Social support  Healthy life expectancy at birth  \
528            14335             NaN                               NaN
529            14335             NaN                               NaN
530            14335             NaN                               NaN
531            14335             NaN                               NaN
532            14335             NaN                               NaN

     Positive affect  Negative affect  ...  age_25-34 years  age_55-74 years  \
528              NaN              NaN  ...                0                0
529              NaN              NaN  ...                1                0
530              NaN              NaN  ...                0                0
531              NaN              NaN  ...                0                0
532              NaN              NaN  ...                0                1

     age_5-14 years  region_Europe  region_Island Nation  \
528               0              0                     1
529               0              0                     1
530               0              0                     1
531               1              0                     1
532               0              0                     1

     region_South America  region_Asia  region_MiddleEast  \
528                     0            0                  0
529                     0            0                  0
530                     0            0                  0
531                     0            0                  0
532                     0            0                  0

     region_North America  suicides_100k_pop
528                     0                0.0
529                     0                0.0
530                     0                0.0
531                     0                0.0
532                     0                0.0

[5 rows x 26 columns]
               country  year  population  HDI_for_year  gdp_for_year  \
0  Antigua and Barbuda  2015        6403         0.785  1.364863e+09
1  Antigua and Barbuda  2015        8561         0.785  1.364863e+09
2  Antigua and Barbuda  2015        7740         0.785  1.364863e+09
3  Antigua and Barbuda  2015       15323         0.785  1.364863e+09
4  Antigua and Barbuda  2015        8239         0.785  1.364863e+09

   gdp_per_capital  Social support  Healthy life expectancy at birth  \
0            14853             NaN                               NaN
1            14853             NaN                               NaN
2            14853             NaN                               NaN
3            14853             NaN                               NaN
4            14853             NaN                               NaN

   Positive affect  Negative affect  ...  age_25-34 years  age_35-54 years  \
0              NaN              NaN  ...                0                0
1              NaN              NaN  ...                0                0
2              NaN              NaN  ...                1                0
3              NaN              NaN  ...                0                1
4              NaN              NaN  ...                0                0

   age_5-14 years  age_75+ years  region_Island Nation  region_South America  \
0               0              0                     1                     0
1               0              0                     1                     0
2               0              0                     1                     0
3               0              0                     1                     0
4               1              0                     1                     0

   region_Europe  region_Asia  region_North America  region_MiddleEast
0              0            0                     0                  0
1              0            0                     0                  0
2              0            0                     0                  0
3              0            0                     0                  0
4              0            0                     0                  0

[5 rows x 25 columns]

In [13]:
train[train.country == 'Antigua and Barbuda'] = train[train.country == 'Antigua and Barbuda'].fillna(0)
test[test.country == 'Antigua and Barbuda'] = test[test.country == 'Antigua and Barbuda'].fillna(0)

train = train.fillna(method='ffill')
test = test.fillna(method='ffill')
train.isna().sum(), test.isna().sum()

(country                             0
 year                                0
 population                          0
 HDI_for_year                        0
 gdp_for_year                        0
 gdp_per_capital                     0
 Social support                      0
 Healthy life expectancy at birth    0
 Positive affect                     0
 Negative affect                     0
 Democratic Quality                  0
 sex_male                            0
 sex_female                          0
 age_15-24 years                     0
 age_35-54 years                     0
 age_75+ years                       0
 age_25-34 years                     0
 age_55-74 years                     0
 age_5-14 years                      0
 region_Europe                       0
 region_Island Nation                0
 region_South America                0
 region_Asia                         0
 region_MiddleEast                   0
 region_North America                0
 suicides_100k_pop                   0
 dtype: int64, country                             0
 year                                0
 population                          0
 HDI_for_year                        0
 gdp_for_year                        0
 gdp_per_capital                     0
 Social support                      0
 Healthy life expectancy at birth    0
 Positive affect                     0
 Negative affect                     0
 Democratic Quality                  0
 sex_female                          0
 sex_male                            0
 age_55-74 years                     0
 age_15-24 years                     0
 age_25-34 years                     0
 age_35-54 years                     0
 age_5-14 years                      0
 age_75+ years                       0
 region_Island Nation                0
 region_South America                0
 region_Europe                       0
 region_Asia                         0
 region_North America                0
 region_MiddleEast                   0
 dtype: int64)

In [14]:
# 정규화

train_test_data=[train,test]
def normalize(X):
    return np.abs((X-np.mean(X))/np.std(X))
for dataset in train_test_data:
    dataset['gdp_per_capital']=normalize(dataset['gdp_per_capital'])
    dataset['gdp_for_year']=normalize(dataset['gdp_for_year'])
test.head()

,country,year,population,HDI_for_year,gdp_for_year,gdp_per_capital,Social support,Healthy life expectancy at birth,Positive affect,Negative affect,...,age_25-34 years,age_35-54 years,age_5-14 years,age_75+ years,region_Island Nation,region_South America,region_Europe,region_Asia,region_North America,region_MiddleEast
0,Antigua and Barbuda,2015,6403,0.785,0.32857,0.4737,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
1,Antigua and Barbuda,2015,8561,0.785,0.32857,0.4737,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
2,Antigua and Barbuda,2015,7740,0.785,0.32857,0.4737,0.0,0.0,0.0,0.0,...,1,0,0,0,1,0,0,0,0,0
3,Antigua and Barbuda,2015,15323,0.785,0.32857,0.4737,0.0,0.0,0.0,0.0,...,0,1,0,0,1,0,0,0,0,0
4,Antigua and Barbuda,2015,8239,0.785,0.32857,0.4737,0.0,0.0,0.0,0.0,...,0,0,1,0,1,0,0,0,0,0

In [15]:
# train = pd.read_csv('./train.csv')
# test = pd.read_csv('./test1.csv')

##  Modeling

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from xgboost import XGBRegressor

from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet, ElasticNetCV
from pandas import Series, DataFrame
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor  


df_predict = DataFrame()
 
for i in test['country'].unique():
  
  train_by_country = train[train['country']==i]
  
  X = train_by_country.drop(['suicides_100k_pop','country','population'],axis=1) #independent columns
  y = train_by_country['suicides_100k_pop']

  # SPLIT할 때 TEST SIZE 0.01, random_state =100  로 할 때 성능 제일 좋다.   
  X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = .01, random_state = 100)


  if (i== "United States"  or i== "Republic of Korea" or i== "Japan" or i== "Russian Federation" or i == 'Poland' or i == 'Kazakhstan'): 
    model = XGBRegressor(learning_rate=0.4, reg_lambda=.5, subsample=.9).fit(X_train, y_train)
    print(model.feature_importances_)
    
  elif (i == "Ukraine" or i == "Hungary" or i == "Brazil" or i == "Thailand" or i == "Mexico" or i == "Ecuador" or \
        i == "Colombia" or i == "Germany" or i == "Argentina" or i == "Israel" or i == "Italy" or i == "Australia" or \
        i == "Czech Republic" or i == "Romania"):
    model = XGBRegressor(learning_rate=0.4, reg_lambda=.4, subsample=.9).fit(X_train, y_train)
    #print(model.feature_importances_)
  else:
    #model  = GradientBoostingRegressor(learning_rate=0.5).fit(X_train, y_train)
    #model = XGBRegressor(learning_rate=0.4, reg_lambda=.5, subsample=.7).fit(X_train, y_train)
    model = XGBRegressor(learning_rate=0.4, reg_lambda=.5, subsample=.9).fit(X_train, y_train)
    #print(model.feature_importances_)
    
    
  test_by_country = test[test['country']==i]

  test_by_country['generation_G.I. Generation']=0
  


  test_by_country_2= test_by_country.drop(['population','country'],axis=1)
  test_by_country_2 = test_by_country_2.reindex(columns = X.columns)


  ss= pd.Series(model.predict(test_by_country_2)).to_frame('predict')



  test_by_country=test_by_country.reset_index()
  test_result =pd.concat([test_by_country , pd.Series(model.predict(test_by_country_2)).to_frame('predict')] , axis=1)

  test_result['predicted_suicides_no']= test_result['predict'] /100000 * test_result['population']
  test_result= test_result.loc[:, ['country', 'year','predict','population','predicted_suicides_no']]

  df_predict=df_predict.append(test_result)

df_predict

[0.19402985 0.         0.04029851 0.         0.03582089 0.01940298
 0.04477612 0.0238806  0.         0.24328358 0.         0.06417911
 0.08507463 0.05970149 0.05970149 0.05970149 0.07014925 0.
 0.         0.         0.         0.         0.        ]
[0.1482602  0.         0.01361573 0.         0.03630862 0.04992436
 0.08320726 0.         0.03328291 0.22995462 0.         0.05295008
 0.0484115  0.1482602  0.05446294 0.04992436 0.05143722 0.
 0.         0.         0.         0.         0.        ]
[0.14243324 0.         0.02818991 0.         0.06676558 0.
 0.03560831 0.02522255 0.04154303 0.23442137 0.         0.0504451
 0.04747774 0.07863501 0.07863501 0.12462908 0.04599407 0.
 0.         0.         0.         0.         0.        ]
[0.18236174 0.         0.         0.01644245 0.03437967 0.
 0.06427503 0.06875934 0.         0.24813154 0.         0.04484305
 0.05231689 0.11509716 0.05979073 0.06576981 0.04783259 0.
 0.         0.         0.         0.         0.        ]
[0.16494845 0.         0.09572902 0.         0.07511046 0.
 0.         0.04123711 0.         0.24594992 0.         0.1089838
 0.04270987 0.07658321 0.06480118 0.04123711 0.04270987 0.
 0.         0.         0.         0.         0.        ]
[0.17047185 0.         0.         0.         0.07153729 0.
 0.02130898 0.0456621  0.02891933 0.2541857  0.         0.05631659
 0.07001522 0.08219178 0.07001522 0.06392694 0.06544901 0.
 0.         0.         0.         0.         0.        ]

                country  year    predict  population  predicted_suicides_no
0   Antigua and Barbuda  2015   0.000000        6403               0.000000
1   Antigua and Barbuda  2015   0.000000        8561               0.000000
2   Antigua and Barbuda  2015   0.000000        7740               0.000000
3   Antigua and Barbuda  2015   0.000000       15323               0.000000
4   Antigua and Barbuda  2015   0.000000        8239               0.000000
5   Antigua and Barbuda  2015   0.000000        1724               0.000000
6   Antigua and Barbuda  2015   0.000000        8331               0.000000
7   Antigua and Barbuda  2015   0.000000        7059               0.000000
8   Antigua and Barbuda  2015   0.000000       13370               0.000000
9   Antigua and Barbuda  2015   0.000000        8268               0.000000
10  Antigua and Barbuda  2015   0.000000        5784               0.000000
11  Antigua and Barbuda  2015   0.000000        1087               0.000000
0             Argentina  2015  31.188345      712691             222.276528
1             Argentina  2015  21.922668     3500580             767.420547
2             Argentina  2015  14.776398     3011963             445.059632
3             Argentina  2015  18.285608     3289927             601.583164
4             Argentina  2015  13.628928     5166179             704.094826
5             Argentina  2015   5.856169     3394201             198.770138
6             Argentina  2015   3.085999     3520779             108.651205
7             Argentina  2015   3.184820     3235582             103.047453
8             Argentina  2015   3.841145     5301368             203.633209
9             Argentina  2015   2.765465     1344980              37.194955
10            Argentina  2015   0.977431     3672155              35.892784
11            Argentina  2015   0.596689     3549219              21.177784
0               Armenia  2015  12.492047       61355               7.664496
1               Armenia  2015   5.558334      231213              12.851592
2               Armenia  2015   4.796199      100754               4.832362
3               Armenia  2015   3.800102      356715              13.555535
4               Armenia  2015   3.185273      255540               8.139646
5               Armenia  2015   2.026059      297936               6.036358
..                  ...   ...        ...         ...                    ...
6        United Kingdom  2015   3.832174     7075576             271.148388
7        United Kingdom  2015   3.153119     4414464             139.193318
8        United Kingdom  2015   3.078609     3070457              94.527373
9        United Kingdom  2015   2.376348     3966564              94.259346
10       United Kingdom  2015   0.114513     3663221               4.194865
11       United Kingdom  2015   0.225055     3840476               8.643177
0         United States  2015  38.882202     8171136            3177.117617
1         United States  2015  28.487610    32264697            9191.441005
2         United States  2015  27.456018    41658010           11437.630911
3         United States  2015  24.080986    22137097            5330.831234
4         United States  2015  17.804831    22615073            4026.575427
5         United States  2015   9.575332    41531809            3976.808468
6         United States  2015   7.844817    35115610            2754.755232
7         United States  2015   6.317876    21555712            1361.863125
8         United States  2015   4.492117    21633813             971.816176
9         United States  2015   4.138496    11778666             487.459612
10        United States  2015   1.349669    21273987             287.128454
11        United States  2015   0.726663    20342901             147.824236
0               Uruguay  2015  73.915092       78996              58.389966
1               Uruguay  2015  35.538727      277870              98.751460
2               Uruguay  2015  33.658043      235597              79.297339
3               Uruguay  2015  34.299747      423963             145.418238
4               Uruguay  2015  28.990946      264562              76.699026
5               Uruguay  2015  10.043677      160620              16.132155
6               Uruguay  2015  11.308181      327405              37.023549
7               Uruguay  2015   8.347009      232133              19.376162
8               Uruguay  2015   9.973123      440475              43.929112
9               Uruguay  2015   6.458618      255067              16.473804
10              Uruguay  2015   0.421014      252509               1.063098
11              Uruguay  2015   0.800522      241598               1.934044

[744 rows x 5 columns]

In [17]:
X.head()

,year,HDI_for_year,gdp_for_year,gdp_per_capital,Social support,Healthy life expectancy at birth,Positive affect,Negative affect,Democratic Quality,sex_male,...,age_75+ years,age_25-34 years,age_55-74 years,age_5-14 years,region_Europe,region_Island Nation,region_South America,region_Asia,region_MiddleEast,region_North America
26592,2009,0.778,0.353059,0.673218,0.923861,67.337753,0.793431,0.254544,0.948057,1,...,1,0,0,0,0,0,1,0,0,0
26593,2009,0.778,0.353059,0.673218,0.923861,67.337753,0.793431,0.254544,0.948057,1,...,0,0,1,0,0,0,1,0,0,0
26594,2009,0.778,0.353059,0.673218,0.923861,67.337753,0.793431,0.254544,0.948057,1,...,0,1,0,0,0,0,1,0,0,0
26595,2009,0.778,0.353059,0.673218,0.923861,67.337753,0.793431,0.254544,0.948057,1,...,0,0,0,0,0,0,1,0,0,0
26596,2009,0.778,0.353059,0.673218,0.923861,67.337753,0.793431,0.254544,0.948057,1,...,0,0,0,0,0,0,1,0,0,0

## Test

In [18]:
merge_data1 = df_predict['predicted_suicides_no'].groupby(df_predict['country']).sum()
merge_data2 =pd.DataFrame({'country':merge_data1.index, 'predicted_suicides_no':merge_data1.values})

merge_data2.to_csv('result_366.csv')

answer= pd.read_csv('./2015_suicide_no.csv')
answer.columns = ['country', 'suicides_no']

merge_answer= pd.merge(merge_data2, answer , on ='country', how='left')
merge_answer['error']=merge_answer['suicides_no']-merge_answer['predicted_suicides_no']
merge_answer['error_Abs']=abs(merge_answer['error'])
merge_answer1=merge_answer.sort_values('error_Abs',ascending=False)
merge_answer1

,country,predicted_suicides_no,suicides_no,error,error_Abs
45,Russian Federation,27092.801995,25432,-1660.801995,1660.801995
27,Japan,24505.088192,23092,-1413.088192,1413.088192
60,United States,43151.251498,44189,1037.748502,1037.748502
40,Poland,6116.070269,5420,-696.070269,696.070269
43,Republic of Korea,14069.349544,13510,-559.349544,559.349544
58,Ukraine,8016.780364,7574,-442.780364,442.780364
1,Argentina,3448.802224,3073,-375.802224,375.802224
55,Thailand,3894.841212,4205,310.158788,310.158788
15,Ecuador,777.734926,1073,295.265074,295.265074
52,Spain,3891.688920,3604,-287.688920,287.688920
28,Kazakhstan,3144.499856,2872,-272.499856,272.499856
7,Brazil,10898.929461,11163,264.070539,264.070539
26,Italy,4194.321325,3988,-206.321325,206.321325
9,Colombia,2138.996992,2332,193.003008,193.003008
13,Czech Republic,1546.388821,1387,-159.388821,159.388821
56,Turkey,1674.413460,1532,-142.413460,142.413460
3,Australia,2906.521329,3027,120.478671,120.478671
23,Hungary,1982.393577,1868,-114.393577,114.393577
47,Serbia,1168.057170,1062,-106.057170,106.057170
25,Israel,447.238974,342,-105.238974,105.238974
4,Austria,1343.487488,1251,-92.487488,92.487488
17,Finland,822.347951,731,-91.347951,91.347951
35,Mexico,6156.691588,6234,77.308412,77.308412
14,Denmark,632.654310,564,-68.654310,68.654310
51,South Africa,548.935845,482,-66.935845,66.935845
8,Chile,1903.514175,1838,-65.514175,65.514175
59,United Kingdom,4845.497196,4910,64.502804,64.502804
31,Lithuania,955.333056,896,-59.333056,59.333056
16,Estonia,246.734030,195,-51.734030,51.734030
5,Belgium,1916.738234,1867,-49.738234,49.738234
...,...,...,...,...,...
29,Kyrgyzstan,461.741950,417,-44.741950,44.741950
11,Cuba,1469.313971,1511,41.686029,41.686029
39,Panama,149.409347,110,-39.409347,39.409347
36,Netherlands,1837.289044,1873,35.710956,35.710956
61,Uruguay,594.487954,630,35.512046,35.512046
20,Greece,563.124114,529,-34.124114,34.124114
50,Slovenia,388.054562,422,33.945438,33.945438
38,Norway,556.565908,590,33.434092,33.434092
53,Sweden,1153.194067,1182,28.805933,28.805933
22,Guatemala,474.119646,494,19.880354,19.880354
19,Germany,10103.592356,10088,-15.592356,15.592356
34,Mauritius,119.359054,104,-15.359054,15.359054
57,Turkmenistan,144.730759,133,-11.730759,11.730759
44,Romania,2216.781843,2228,11.218157,11.218157
33,Malta,24.756013,34,9.243987,9.243987
2,Armenia,66.181103,74,7.818897,7.818897
42,Qatar,58.225620,66,7.774380,7.774380
24,Iceland,45.596892,40,-5.596892,5.596892
30,Latvia,390.831491,387,-3.831491,3.831491
41,Puerto Rico,222.413093,226,3.586907,3.586907
12,Cyprus,42.919672,40,-2.919672,2.919672
32,Luxembourg,61.273943,64,2.726057,2.726057
48,Seychelles,9.316618,7,-2.316618,2.316618
10,Croatia,741.009047,739,-2.009047,2.009047
6,Belize,24.731478,26,1.268522,1.268522
0,Antigua and Barbuda,0.000000,1,1.000000,1.000000
46,Saint Vincent and Grenadines,2.183574,3,0.816426,0.816426
37,Nicaragua,315.680441,315,-0.680441,0.680441
54,Switzerland,1072.779095,1073,0.220905,0.220905
21,Grenada,0.002943,0,-0.002943,0.002943

In [19]:
true_value = merge_answer1.suicides_no
prediction_value = merge_answer1.predicted_suicides_no

print(np.sqrt(mean_squared_error(prediction_value, true_value)))

# 성능 339 -> 첫번째  XGBRegressor 가 learning_rate=0.4, reg_lambda=.5, subsample=.8 이고  
              #나머지 XGBRegressor 가 learning_rate=0.4, reg_lambda=.5, subsample=.7 일때.

350.5635493507784