In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import skew
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# from google.colab import files
# uploaded = files.upload()

plt.style.use('seaborn')
sns.set(font_scale=2.5)

import missingno as msno

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
class suicides(object):
    def __init__(self):
        self.df = suicides.df
        self.df_test = suicides.df_test
        self.df_all_feature_var_names = []
        self.df_test_all_feature_var_names = []
        
    _non_numerical_feature_names = []
    _numerical_feature_names = []
    _is_one_hot_encoder = 0
    _feature_names_num = []
    _is_not_import_data = 0
    
    
    df = pd.read_csv('./train1.csv')
    df_test = pd.read_csv('./test_mini1.csv')
    
    
    # 수치형 열을 추출
    def extract_numerical_features(df):
        df = df.copy()
        numerical_features = pd.Series(data=False, index=df.columns, dtype=bool)
        
        for feature in df.columns:
            if any(tuple(df[feature].map(lambda x: type(x)) == int)) or \
                any(tuple(df[feature].map(lambda x: type(x)) == float)) & \
                    (not any(tuple(df[feature].map(lambda x: type(x)) == str))):
                numerical_features[feature] = 1
    
        return numerical_features[numerical_features == 1].index
    
    # 수치형을 제외한 열을 추출
    def extract_non_numerical_features(df):
        df = df.copy()
    
        return df.select_dtypes(exclude=[np.number])
    
    # 범주형을 수치형으로 바꿔서 새로운 열 생성
    def encode_labels_in_numeric_format(df, estimated_var):
        feature_names_num = ''.join([estimated_var, '_count'])
        mask = ~df[estimated_var].isnull()
        df[feature_names_num] = df[estimated_var]
        df.loc[mask, tuple([feature_names_num])] = df[estimated_var].factorize()[0][mask[mask==1].index]
    
    # 범주형 자료 내에 있는 범주의 종류를 반환
    def label_classes(df, estimated_var):
        le = LabelEncoder()
        le.fit(df[estimated_var].values)
        
        return le.classes_
    
    # 범주형 자료 one hot encoding
    def one_hot_encoder(df, estimated_var):
        
        df_class = df.copy()
        ohe = OneHotEncoder()
        label_classes = df_class[estimated_var].factorize()[1]
        new_one_hot_encoded_features = [''.join([estimated_var, '_', x]) for x in label_classes]
        mask = ~df[estimated_var].isnull()
        feature_var_values = ohe.fit_transform(np.reshape(np.array(df[''.join([estimated_var, '_count'])][mask].values), 
                                                      (df[mask].shape[0], 1))).toarray().astype(int)

        for ite in new_one_hot_encoded_features:
            df[ite] = df[estimated_var]
        df.loc[mask, tuple(new_one_hot_encoded_features)] = feature_var_values
    
    def features_with_null_logical(df, axis=1):
        
        row_length = len(df._get_axis(0))
        aggregate_axis = 1 - axis
        features_non_null_series = df.count(axis=aggregate_axis)
        mask = row_length == features_non_null_series
        
        return mask
    
    def missing_values_in_dataframe(df):
        row_length = len(df._get_axis(0))
        aggregate_axis = 1 - axis
        features_non_null_series = df.count(axis=aggregate_axis)
        mask = row_length == features_non_null_series
        print(df[mask[mask == 0].index.values].isnull().sum())
        print('\n')

In [3]:
train = suicides.df
test = suicides.df_test

In [4]:

## Region 적용 했을 때 성능이 더 높아짐 !! 429 --> 373  같은 country 별로 돌리는건데 왜 높아지는지는 모름



Europe = ["Albania","Russian Federation","France","Ukraine","Germany","Poland","United Kingdom",
         "Italy","Spain","Hungary","Romania","Belgium","Belarus","Netherlands","Austria",
         "Czech Republic","Sweden","Bulgaria","Finland","Lithuania","Switzerland","Serbia",
         "Portugal","Croatia","Norway","Denmark","Slovakia","Latvia","Greece","Slovenia",
         "Turkey","Estonia","Georgia","Albania","Luxembourg","Armenia","Iceland","Montenegro",
         "Cyprus","Bosnia and Herzegovina","San Marino","Malta","Ireland"]
NorthAmerica = ["United States","Mexico","Canada","Cuba","El Salvador","Puerto Rico",
                "Guatemala","Costa Rica","Nicaragua","Belize","Jamaica"]
SouthAmerica = ["Brazil","Colombia", "Chile","Ecuador","Uruguay","Paraguay","Argentina",
                "Panama","Guyana","Suriname"]
MiddleEast = ["Kazakhstan","Uzbekistan","Kyrgyzstan","Israel","Turkmenistan","Azerbaijan",
              "Kuwait","United Arab Emirates","Qatar","Bahrain","Oman"]
Asia = ["Japan","Republic of Korea", "Thailand", "Sri Lanka","Philippines","New Zealand",
        "Australia","Singapore","Macau","Mongolia"]

def match_region(x):
    if x in Europe:
        x = 'Europe'
    elif x in NorthAmerica:
        x = 'North America'
    elif x in SouthAmerica:
        x = 'South America'
    elif x in MiddleEast:
        x = 'MiddleEast'
    elif x in Asia:
        x = 'Asia'
    else:
        x = 'Island Nation'
    return x
  
  
train['region'] = train.country.map(lambda x: match_region(x))
  
test['region'] = test.country.map(lambda x: match_region(x))

In [5]:
categorical_feature = ['sex','age','region']

In [6]:
suicides.encode_labels_in_numeric_format(train, categorical_feature[0])
suicides.encode_labels_in_numeric_format(train, categorical_feature[1])
suicides.encode_labels_in_numeric_format(train, categorical_feature[2])
#suicides.encode_labels_in_numeric_format(train, categorical_feature[3])

suicides.encode_labels_in_numeric_format(test, categorical_feature[0])
suicides.encode_labels_in_numeric_format(test, categorical_feature[1])
suicides.encode_labels_in_numeric_format(test, categorical_feature[2])
#suicides.encode_labels_in_numeric_format(test, categorical_feature[3])

train.head()

,country,year,sex,age,suicides_no,population,suicides_100k_pop,country_year,HDI_for_year,gdp_for_year,gdp_per_capital,generation,Social support,Healthy life expectancy at birth,Positive affect,Negative affect,region,sex_count,age_count,region_count
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,0.635,2.156625e+09,796,Generation X,NaN,NaN,NaN,NaN,Europe,0,0,0
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,0.635,2.156625e+09,796,Silent,NaN,NaN,NaN,NaN,Europe,0,1,0
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,0.635,2.156625e+09,796,Generation X,NaN,NaN,NaN,NaN,Europe,1,0,0
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,0.635,2.156625e+09,796,G.I. Generation,NaN,NaN,NaN,NaN,Europe,0,2,0
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,0.635,2.156625e+09,796,Boomers,NaN,NaN,NaN,NaN,Europe,0,3,0

In [7]:
suicides.one_hot_encoder(train, categorical_feature[0])
suicides.one_hot_encoder(train, categorical_feature[1])
suicides.one_hot_encoder(train, categorical_feature[2])
#suicides.one_hot_encoder(train, categorical_feature[3])



suicides.one_hot_encoder(test, categorical_feature[0])
suicides.one_hot_encoder(test, categorical_feature[1])
suicides.one_hot_encoder(test, categorical_feature[2])
#suicides.one_hot_encoder(test, categorical_feature[3])
train.head()

,country,year,sex,age,suicides_no,population,suicides_100k_pop,country_year,HDI_for_year,gdp_for_year,...,age_75+ years,age_25-34 years,age_55-74 years,age_5-14 years,region_Europe,region_Island Nation,region_South America,region_Asia,region_MiddleEast,region_North America
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,0.635,2.156625e+09,...,0,0,0,0,1,0,0,0,0,0
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,0.635,2.156625e+09,...,0,0,0,0,1,0,0,0,0,0
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,0.635,2.156625e+09,...,0,0,0,0,1,0,0,0,0,0
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,0.635,2.156625e+09,...,1,0,0,0,1,0,0,0,0,0
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,0.635,2.156625e+09,...,0,1,0,0,1,0,0,0,0,0

In [8]:
train = train.drop(categorical_feature[0], axis=1)
train = train.drop(categorical_feature[1], axis=1)
train = train.drop(categorical_feature[2], axis=1)
#train = train.drop(categorical_feature[3], axis=1)
train = train.drop('country_year', axis=1)


test = test.drop(categorical_feature[0], axis=1)
test = test.drop(categorical_feature[1], axis=1)
test = test.drop(categorical_feature[2], axis=1)
#test = test.drop(categorical_feature[3], axis=1)
test = test.drop('country_year', axis=1)


train.head()

,country,year,suicides_no,population,suicides_100k_pop,HDI_for_year,gdp_for_year,gdp_per_capital,generation,Social support,...,age_75+ years,age_25-34 years,age_55-74 years,age_5-14 years,region_Europe,region_Island Nation,region_South America,region_Asia,region_MiddleEast,region_North America
0,Albania,1987,21,312900,6.71,0.635,2.156625e+09,796,Generation X,NaN,...,0,0,0,0,1,0,0,0,0,0
1,Albania,1987,16,308000,5.19,0.635,2.156625e+09,796,Silent,NaN,...,0,0,0,0,1,0,0,0,0,0
2,Albania,1987,14,289700,4.83,0.635,2.156625e+09,796,Generation X,NaN,...,0,0,0,0,1,0,0,0,0,0
3,Albania,1987,1,21800,4.59,0.635,2.156625e+09,796,G.I. Generation,NaN,...,1,0,0,0,1,0,0,0,0,0
4,Albania,1987,9,274300,3.28,0.635,2.156625e+09,796,Boomers,NaN,...,0,1,0,0,1,0,0,0,0,0

In [9]:

# 같은 조건일 때 2007년 : 399 / 2008년 : 339  / 2009년 : 348 / 2010 년 이후 : 381 -->  2008년 고정


train = train[train['year']> 2008]

## PreProcessing ( Feature Engineering )

In [10]:

# 필요없는 컬럼 삭제 . Generation 은 자살률과 무관한것으로 판단. 성능이 나빠진다. 

# suicides_100k_pop 필요. 이건 Train 데이터에서 파생변수로 만들어서 사용한다고 가정.  

# 보아즈 공지사항에 suicides_100k_pop 삭제하라고 했으니 삭제 후 population과 suicides_no 이용해서 만들자

test = test.drop(['suicides_100k_pop'], axis=1)
train = train.drop(['suicides_100k_pop'], axis=1)


train['suicides_100k_pop'] = train['suicides_no'] / train['population'] * 100000
 

  # generation 다시 추가도 해보고 새로운 컬럼들 이것저것 삭제도 해봤는데 이 상태가 그나마 최상
features_drop_train = ['suicides_no','sex_count','generation','age_count','region_count']
features_drop_test = ['sex_count','age_count','generation','region_count']

test = test.drop(features_drop_test, axis=1)
train = train.drop(features_drop_train, axis=1)

In [11]:
con = []
for i in test.country.unique():
    con.append(train[train.country == i])

In [12]:
train = pd.concat(con, axis=0)
print(train.head())
print(test.head())

                 country  year  population  HDI_for_year  gdp_for_year  \
528  Antigua and Barbuda  2009        8199          0.77  1.224253e+09
529  Antigua and Barbuda  2009        6917          0.77  1.224253e+09
530  Antigua and Barbuda  2009       14629          0.77  1.224253e+09
531  Antigua and Barbuda  2009        8514          0.77  1.224253e+09
532  Antigua and Barbuda  2009        4793          0.77  1.224253e+09

     gdp_per_capital  Social support  Healthy life expectancy at birth  \
528            14335             NaN                               NaN
529            14335             NaN                               NaN
530            14335             NaN                               NaN
531            14335             NaN                               NaN
532            14335             NaN                               NaN

     Positive affect  Negative affect  ...  age_25-34 years  age_55-74 years  \
528              NaN              NaN  ...                0                0
529              NaN              NaN  ...                1                0
530              NaN              NaN  ...                0                0
531              NaN              NaN  ...                0                0
532              NaN              NaN  ...                0                1

     age_5-14 years  region_Europe  region_Island Nation  \
528               0              0                     1
529               0              0                     1
530               0              0                     1
531               1              0                     1
532               0              0                     1

     region_South America  region_Asia  region_MiddleEast  \
528                     0            0                  0
529                     0            0                  0
530                     0            0                  0
531                     0            0                  0
532                     0            0                  0

     region_North America  suicides_100k_pop
528                     0                0.0
529                     0                0.0
530                     0                0.0
531                     0                0.0
532                     0                0.0

[5 rows x 25 columns]
               country  year  population  HDI_for_year  gdp_for_year  \
0  Antigua and Barbuda  2015        6403         0.785  1.364863e+09
1  Antigua and Barbuda  2015        8561         0.785  1.364863e+09
2  Antigua and Barbuda  2015        7740         0.785  1.364863e+09
3  Antigua and Barbuda  2015       15323         0.785  1.364863e+09
4  Antigua and Barbuda  2015        8239         0.785  1.364863e+09

   gdp_per_capital  Social support  Healthy life expectancy at birth  \
0            14853             NaN                               NaN
1            14853             NaN                               NaN
2            14853             NaN                               NaN
3            14853             NaN                               NaN
4            14853             NaN                               NaN

   Positive affect  Negative affect  ...  age_25-34 years  age_35-54 years  \
0              NaN              NaN  ...                0                0
1              NaN              NaN  ...                0                0
2              NaN              NaN  ...                1                0
3              NaN              NaN  ...                0                1
4              NaN              NaN  ...                0                0

   age_5-14 years  age_75+ years  region_Island Nation  region_South America  \
0               0              0                     1                     0
1               0              0                     1                     0
2               0              0                     1                     0
3               0              0                     1                     0
4               1              0                     1                     0

   region_Europe  region_Asia  region_North America  region_MiddleEast
0              0            0                     0                  0
1              0            0                     0                  0
2              0            0                     0                  0
3              0            0                     0                  0
4              0            0                     0                  0

[5 rows x 24 columns]

In [13]:
train[train.country == 'Antigua and Barbuda'] = train[train.country == 'Antigua and Barbuda'].fillna(0)
test[test.country == 'Antigua and Barbuda'] = test[test.country == 'Antigua and Barbuda'].fillna(0)

train = train.fillna(method='ffill')
test = test.fillna(method='ffill')
train.isna().sum(), test.isna().sum()

(country                             0
 year                                0
 population                          0
 HDI_for_year                        0
 gdp_for_year                        0
 gdp_per_capital                     0
 Social support                      0
 Healthy life expectancy at birth    0
 Positive affect                     0
 Negative affect                     0
 sex_male                            0
 sex_female                          0
 age_15-24 years                     0
 age_35-54 years                     0
 age_75+ years                       0
 age_25-34 years                     0
 age_55-74 years                     0
 age_5-14 years                      0
 region_Europe                       0
 region_Island Nation                0
 region_South America                0
 region_Asia                         0
 region_MiddleEast                   0
 region_North America                0
 suicides_100k_pop                   0
 dtype: int64, country                             0
 year                                0
 population                          0
 HDI_for_year                        0
 gdp_for_year                        0
 gdp_per_capital                     0
 Social support                      0
 Healthy life expectancy at birth    0
 Positive affect                     0
 Negative affect                     0
 sex_female                          0
 sex_male                            0
 age_55-74 years                     0
 age_15-24 years                     0
 age_25-34 years                     0
 age_35-54 years                     0
 age_5-14 years                      0
 age_75+ years                       0
 region_Island Nation                0
 region_South America                0
 region_Europe                       0
 region_Asia                         0
 region_North America                0
 region_MiddleEast                   0
 dtype: int64)

In [14]:
# 정규화

train_test_data=[train,test]
def normalize(X):
    return np.abs((X-np.mean(X))/np.std(X))
for dataset in train_test_data:
    dataset['gdp_per_capital']=normalize(dataset['gdp_per_capital'])
    dataset['gdp_for_year']=normalize(dataset['gdp_for_year'])
test.head()

,country,year,population,HDI_for_year,gdp_for_year,gdp_per_capital,Social support,Healthy life expectancy at birth,Positive affect,Negative affect,...,age_25-34 years,age_35-54 years,age_5-14 years,age_75+ years,region_Island Nation,region_South America,region_Europe,region_Asia,region_North America,region_MiddleEast
0,Antigua and Barbuda,2015,6403,0.785,0.32857,0.4737,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
1,Antigua and Barbuda,2015,8561,0.785,0.32857,0.4737,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
2,Antigua and Barbuda,2015,7740,0.785,0.32857,0.4737,0.0,0.0,0.0,0.0,...,1,0,0,0,1,0,0,0,0,0
3,Antigua and Barbuda,2015,15323,0.785,0.32857,0.4737,0.0,0.0,0.0,0.0,...,0,1,0,0,1,0,0,0,0,0
4,Antigua and Barbuda,2015,8239,0.785,0.32857,0.4737,0.0,0.0,0.0,0.0,...,0,0,1,0,1,0,0,0,0,0

In [15]:
# train = pd.read_csv('./train.csv')
# test = pd.read_csv('./test1.csv')

##  Modeling

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from xgboost import XGBRegressor

from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet, ElasticNetCV
from pandas import Series, DataFrame
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor  


df_predict = DataFrame()
 
for i in test['country'].unique():
  
  train_by_country = train[train['country']==i]
  
  X = train_by_country.drop(['suicides_100k_pop','country','population'],axis=1) #independent columns
  y = train_by_country['suicides_100k_pop']

  # SPLIT할 때 TEST SIZE 0.01, random_state =100  로 할 때 성능 제일 좋다.   
  X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = .01, random_state = 100)


  if (i== "United States"  or i== "Republic of Korea" or i== "Japan" or i== "Russian Federation" or i == 'Poland' or i == 'Kazakhstan'): 
    model = XGBRegressor(learning_rate=0.4, reg_lambda=.5, subsample=.9 ).fit(X_train, y_train)
 
  elif (i == "Ukraine" or i == "Hungary" or i == "Brazil" or i == "Thailand" or i == "Mexico" or i == "Ecuador" or \
        i == "Colombia" or i == "Germany" or i == "Argentina" or i == "Israel" or i == "Italy" or i == "Australia" or \
        i == "Czech Republic" or i == "Romania"):
    model = XGBRegressor(learning_rate=0.4, reg_lambda=.5, subsample=.9).fit(X_train, y_train)

  else:
    #model  = GradientBoostingRegressor(learning_rate=0.5).fit(X_train, y_train)
    #model = XGBRegressor(learning_rate=0.4, reg_lambda=.5, subsample=.7).fit(X_train, y_train)
    model = XGBRegressor(learning_rate=0.4, reg_lambda=.5, subsample=.9 ).fit(X_train, y_train)
    
    
    
  test_by_country = test[test['country']==i]

  test_by_country['generation_G.I. Generation']=0
  


  test_by_country_2= test_by_country.drop(['population','country'],axis=1)
  test_by_country_2 = test_by_country_2.reindex(columns = X.columns)


  ss= pd.Series(model.predict(test_by_country_2)).to_frame('predict')



  test_by_country=test_by_country.reset_index()
  test_result =pd.concat([test_by_country , pd.Series(model.predict(test_by_country_2)).to_frame('predict')] , axis=1)

  test_result['predicted_suicides_no']= test_result['predict'] /100000 * test_result['population']
  test_result= test_result.loc[:, ['country', 'year','predict','population','predicted_suicides_no']]

  df_predict=df_predict.append(test_result)

df_predict

                country  year    predict  population  predicted_suicides_no
0   Antigua and Barbuda  2015   0.000000        6403               0.000000
1   Antigua and Barbuda  2015   0.000000        8561               0.000000
2   Antigua and Barbuda  2015   0.000000        7740               0.000000
3   Antigua and Barbuda  2015   0.000000       15323               0.000000
4   Antigua and Barbuda  2015   0.000000        8239               0.000000
5   Antigua and Barbuda  2015   0.000000        1724               0.000000
6   Antigua and Barbuda  2015   0.000000        8331               0.000000
7   Antigua and Barbuda  2015   0.000000        7059               0.000000
8   Antigua and Barbuda  2015   0.000000       13370               0.000000
9   Antigua and Barbuda  2015   0.000000        8268               0.000000
10  Antigua and Barbuda  2015   0.000000        5784               0.000000
11  Antigua and Barbuda  2015   0.000000        1087               0.000000
0             Argentina  2015  28.826534      712691             205.444115
1             Argentina  2015  22.162712     3500580             775.823467
2             Argentina  2015  16.296661     3011963             490.849411
3             Argentina  2015  18.043924     3289927             593.631938
4             Argentina  2015  13.531405     5166179             699.056627
5             Argentina  2015   6.069231     3394201             206.001884
6             Argentina  2015   3.156809     3520779             111.144272
7             Argentina  2015   3.827899     3235582             123.854803
8             Argentina  2015   3.139361     5301368             166.429062
9             Argentina  2015   3.097233     1344980              41.657165
10            Argentina  2015   1.548001     3672155              56.844989
11            Argentina  2015   1.361871     3549219              48.335768
0               Armenia  2015  13.078300       61355               8.024191
1               Armenia  2015   5.307288      231213              12.271139
2               Armenia  2015   4.844206      100754               4.880732
3               Armenia  2015   4.138377      356715              14.762212
4               Armenia  2015   3.192784      255540               8.158840
5               Armenia  2015   2.170074      297936               6.465433
..                  ...   ...        ...         ...                    ...
6        United Kingdom  2015   3.664103     7075576             259.256412
7        United Kingdom  2015   3.539344     4414464             156.243049
8        United Kingdom  2015   3.213997     3070457              98.684385
9        United Kingdom  2015   2.466029     3966564              97.816635
10       United Kingdom  2015   0.142430     3663221               5.217507
11       United Kingdom  2015   0.626750     3840476              24.070199
0         United States  2015  38.142803     8171136            3116.700323
1         United States  2015  27.660580    32264697            8924.602223
2         United States  2015  27.684601    41658010           11532.853782
3         United States  2015  24.694424    22137097            5466.628523
4         United States  2015  18.145409    22615073            4103.597408
5         United States  2015   9.408253    41531809            3907.417548
6         United States  2015   7.854874    35115610            2758.286967
7         United States  2015   6.018638    21555712            1297.360302
8         United States  2015   4.679977    21633813            1012.457460
9         United States  2015   4.411682    11778666             519.637303
10        United States  2015   1.474667    21273987             313.720380
11        United States  2015   0.876229    20342901             178.250335
0               Uruguay  2015  72.746742       78996              57.467017
1               Uruguay  2015  35.779491      277870              99.420473
2               Uruguay  2015  33.863491      235597              79.781369
3               Uruguay  2015  33.746906      423963             143.074396
4               Uruguay  2015  29.551662      264562              78.182469
5               Uruguay  2015   8.772364      160620              14.090171
6               Uruguay  2015  11.122971      327405              36.417162
7               Uruguay  2015   8.720329      232133              20.242762
8               Uruguay  2015  10.059254      440475              44.308498
9               Uruguay  2015   6.421756      255067              16.379781
10              Uruguay  2015   0.304205      252509               0.768145
11              Uruguay  2015   0.990775      241598               2.393692

[744 rows x 5 columns]

## Test

In [17]:
merge_data1 = df_predict['predicted_suicides_no'].groupby(df_predict['country']).sum()
merge_data2 =pd.DataFrame({'country':merge_data1.index, 'predicted_suicides_no':merge_data1.values})

merge_data2.to_csv('result1.csv')



answer= pd.read_csv('./2015_suicide_no.csv')
answer.columns = ['country', 'suicides_no']

merge_answer= pd.merge(merge_data2, answer , on ='country', how='left')
merge_answer['error']=merge_answer['suicides_no']-merge_answer['predicted_suicides_no']
merge_answer['error_Abs']=abs(merge_answer['error'])
merge_answer1=merge_answer.sort_values('error_Abs',ascending=False)
merge_answer1

,country,predicted_suicides_no,suicides_no,error,error_Abs
27,Japan,25195.613595,23092,-2103.613595,2103.613595
45,Russian Federation,27085.605405,25432,-1653.605405,1653.605405
60,United States,43131.512554,44189,1057.487446,1057.487446
40,Poland,6180.993099,5420,-760.993099,760.993099
43,Republic of Korea,14106.053974,13510,-596.053974,596.053974
58,Ukraine,8150.134494,7574,-576.134494,576.134494
1,Argentina,3519.073501,3073,-446.073501,446.073501
7,Brazil,10719.382139,11163,443.617861,443.617861
15,Ecuador,779.311740,1073,293.688260,293.688260
55,Thailand,3917.014506,4205,287.985494,287.985494
28,Kazakhstan,3137.174733,2872,-265.174733,265.174733
26,Italy,4227.417125,3988,-239.417125,239.417125
52,Spain,3837.146432,3604,-233.146432,233.146432
9,Colombia,2130.964740,2332,201.035260,201.035260
13,Czech Republic,1531.296266,1387,-144.296266,144.296266
23,Hungary,1992.457328,1868,-124.457328,124.457328
56,Turkey,1653.174741,1532,-121.174741,121.174741
3,Australia,2910.404103,3027,116.595897,116.595897
35,Mexico,6134.937271,6234,99.062729,99.062729
17,Finland,829.626357,731,-98.626357,98.626357
47,Serbia,1157.714621,1062,-95.714621,95.714621
4,Austria,1341.945819,1251,-90.945819,90.945819
59,United Kingdom,4829.482241,4910,80.517759,80.517759
31,Lithuania,975.103365,896,-79.103365,79.103365
25,Israel,415.896011,342,-73.896011,73.896011
29,Kyrgyzstan,488.142768,417,-71.142768,71.142768
5,Belgium,1933.165086,1867,-66.165086,66.165086
51,South Africa,540.968454,482,-58.968454,58.968454
49,Singapore,387.030341,329,-58.030341,58.030341
36,Netherlands,1821.697195,1873,51.302805,51.302805
...,...,...,...,...,...
14,Denmark,605.860803,564,-41.860803,41.860803
18,Georgia,150.622124,192,41.377876,41.377876
61,Uruguay,592.525933,630,37.474067,37.474067
39,Panama,146.312784,110,-36.312784,36.312784
38,Norway,554.765057,590,35.234943,35.234943
20,Greece,562.511115,529,-33.511115,33.511115
50,Slovenia,393.345808,422,28.654192,28.654192
53,Sweden,1154.325960,1182,27.674040,27.674040
22,Guatemala,467.460510,494,26.539490,26.539490
19,Germany,10111.437372,10088,-23.437372,23.437372
34,Mauritius,119.344578,104,-15.344578,15.344578
44,Romania,2217.574489,2228,10.425511,10.425511
42,Qatar,56.033219,66,9.966781,9.966781
37,Nicaragua,323.564824,315,-8.564824,8.564824
2,Armenia,67.199826,74,6.800174,6.800174
57,Turkmenistan,138.934626,133,-5.934626,5.934626
12,Cyprus,34.890521,40,5.109479,5.109479
24,Iceland,44.905382,40,-4.905382,4.905382
10,Croatia,743.884694,739,-4.884694,4.884694
54,Switzerland,1077.087205,1073,-4.087205,4.087205
32,Luxembourg,60.333914,64,3.666086,3.666086
41,Puerto Rico,222.655349,226,3.344651,3.344651
33,Malta,30.734458,34,3.265542,3.265542
30,Latvia,388.713673,387,-1.713673,1.713673
6,Belize,24.573127,26,1.426873,1.426873
48,Seychelles,8.403608,7,-1.403608,1.403608
46,Saint Vincent and Grenadines,1.947777,3,1.052223,1.052223
0,Antigua and Barbuda,0.000000,1,1.000000,1.000000
8,Chile,1837.502155,1838,0.497845,0.497845
21,Grenada,0.004417,0,-0.004417,0.004417

In [18]:
true_value = merge_answer1.suicides_no
prediction_value = merge_answer1.predicted_suicides_no

print(np.sqrt(mean_squared_error(prediction_value, true_value)))

# 성능 339 -> 첫번째  XGBRegressor 가 learning_rate=0.4, reg_lambda=.5, subsample=.8 이고  
              #나머지 XGBRegressor 가 learning_rate=0.4, reg_lambda=.5, subsample=.7 일때.

411.2773119061559